<html>
    <body>
        <%for (i in branchlist){%>
            <a href='/addwebhook/<%=owner%>/<%=reponame%>/<%=branchlist[i].name%>/<%=token%>'><%=branchlist[i].name%></a>
        <%}%>
    </body>
</html>